.projects_container {
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects_header {
    display: flex;
    flex-direction: row;
    color: black;
    font-family: 'Poppins';
    font-size: 30px;
    justify-content: center;
    margin: 30px 0px;
}

.projects_header h1 {
    font-weight: 400;
}

.projects_header p {
    font-size: 15px;
    text-align: center;
}

.projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.test_project {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}

.test_project img {
    margin-top: 10px;
    width: 800px;
    height: 500px;
    transition: .5s;
    border: 1px solid black;
    border-radius: 20px;
}

.test_project img:hover {
    transform: translateY(-20px);
}

.project_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.project_title {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgb(28, 155, 126);
}

.project_title h1 {
    color: black;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.project_title p {
    color: rgb(28, 155, 126);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.project_description {
    width: 46%;
    padding: 20px;
    border-left: 1px solid rgb(28, 155, 126);
}

.project_description p {
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.icons_section {
    display: flex;
    justify-content: center;
}

.icons {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(57, 57, 57);
}

.buttons {
    margin-top: 10px;
    width: 50%;
}

.page_buttons {
    width: 50%;
    font-size: 30px;
    height: 60px;
    z-index: 10;
    color: black;
    background: rgb(222, 222, 222);
    border: 1px solid black;
}

.page_buttons:hover {
    color: rgb(222, 222, 222);
    background: black;
}

.alert_text p {
    font-size: 20px;
}

@media only screen and (max-width: 1100px) {
    .test_project {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .test_project {
        width: 600px;
        font-size: 20px;
    }

    .projects_header h1 {
        font-size: 50px
    }

    .test_project img {
        width: 100%;
        height: 400px;
    }

    .page_buttons {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .test_project {
        width: 400px;
        margin: 30px 0px;
    }

    .page_buttons {
        width: 50%;
        height: fit-content;
        font-size: 15px;
    }

    .project_header {
        align-items: center;
        flex-direction: column;
    }

    .project_title {
        width: 100%;
    }

    .project_title h1 {
        font-size: 20px;
    }

    .project_title p {
        font-size: 20px;
    }

    .project_description {
        width: 95%;
    }

    .project_description p {
        font-size: 20px;
    }

    .test_project img {
        width: 100%;
        height: 275px;
    }
}