.introduction_container {
    width: 100vw;
    height: 110vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_text {
    color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
    user-select: none;
    margin: 0px 20px;
}

.intro_text h1 {
    display: flex;
    flex-direction: row;
    margin-top: -100px;
}

.intro_text h1 span {
    font-size: 20vw;
    font-weight: 800;
    font-family: 'Raleway';
    color: rgb(28, 155, 126);
    transition: .2s;
    margin: 10px 15px;
}

.intro_text h1 span:hover {
    text-shadow: 0px 10px 15px cyan,
        10px 10px 15px cyan,
        0px 10px 15px cyan;
}

.intro_text h1 span:nth-child(6) {
    color: white;
    margin-left: 3vw;
}

.intro_text p {
    font-size: 25px;
    text-align: center;
    width: 40vw;
}

.intro_text span {
    color: rgb(28, 155, 126);
    margin-left: 5px;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.last_name {
    height: fit-content;
    margin-left: 20px;
    padding: 0px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #1C9B7E 0%, #00A49F 100%);
}

.last_name span {
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 900px) {
    .intro_text h1 span {
        font-size: 20vw;
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 700px) {

    .intro_text h1 span {
        font-size: 20vw;
    }

    .intro_text p {
        width: 300px;
        font-size: 30px;
    }

    .intro_text span {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .intro_text h1 span {
        margin: 10px 10px;
    }
}

@keyframes wavy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}