.introduction_container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(25, 25, 25);
}

.intro_text {
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    flex-direction: column;
    user-select: none;
    margin: 0px 20px;
}

.intro_text h1 span {
    font-size: 100px;
    font-weight: 400;
    font-family: 'Poppins';
    color: rgb(95, 208, 182);
    transition: .5s;
    margin: 10px 10px;
}

.intro_text h1 span:hover {
    font-size: 150px;
    color: rgb(95, 208, 230);
    text-shadow: 3px 3px 10px white;
}

.intro_text p {
    font-size: 40px;
    text-align: center;
}

.intro_text span {
    color: rgb(95, 208, 182);
    margin-left: 5px;
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .intro_text h1 span {
        font-size: 40px;
    }

    .intro_text h1 span:hover {
        font-size: 80px;
    }

    .intro_text p {
        width: 300px;
        font-size: 30px;
    }

    .intro_text span {
        font-size: 30px;
    }
}