.about_container {
    width: 100vw;
    height: 200px;
    background: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
}

.about_content {
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Roboto';
    width: 250px;
    height: fit-content;
    font-size: 37px;
    border: 1px solid white;
    padding: 10px;
    background: rgb(25, 25, 25);
    color: white;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background: white;
    color: rgb(25, 25, 25);
}

.about_content h1 {
    color: white;
}