.about_container {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    background: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
}

.about_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.about_text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 60%;
    font-family: 'Poppins';
    font-size: 15px;
    flex-direction: column;
    text-align: center;
}

.about_text h1 {
    margin: 5px 0px;
    font-weight: 300;
}

button {
    font-family: 'Roboto';
    width: 250px;
    height: fit-content;
    font-size: 37px;
    border: 1px solid white;
    padding: 10px;
    background: rgb(25, 25, 25);
    color: white;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background: white;
    color: rgb(25, 25, 25);
}

.contact_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 80px;
}

.contact_section p {
    font-size: 25px;
}


.github_icon {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: .5s;
}

.icons:hover {
    opacity: 0.3;
}

@media only screen and (max-width: 992px) {
    .about_text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .about_container {
        height: 1200px;
    }

    .about_text {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .about_text {
        font-size: 12px;
    }

    .about_content {
        height: 1000px;
    }
}

@media only screen and (max-width: 600px) {
    .about_container {
        height: 1800px;
    }

    .about_text {
        width: 90%;
        text-align: center;
    }
}