.contact_container {
    width: 100%;
    padding: 200px 0px;
    min-width: 100%;
    height: fit-content;
    background: rgb(25, 25, 25);
}

.contact_header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    padding-top: 100px;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.individual_form {
    width: 80%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.form_name {
    margin-bottom: 20px;
    height: 30px;
    color: white;
    width: 60%;
    background: rgb(20, 20, 20);
    border: none;
    font-size: 20px;
    padding: 20px;
}

.form_text {
    height: 150px;
    color: white;
    width: 60%;
    background: rgb(20, 20, 20);
    border: none;
    resize: none;
    font-size: 20px;
    padding: 10px;
}

.form_submit {
    font-family: 'Roboto';
    width: 250px;
    height: fit-content;
    font-size: 37px;
    border: 1px solid white;
    padding: 10px;
    background: rgb(25, 25, 25);
    color: white;
    transition: 1s;
    cursor: pointer;
    margin-top: 20px;
}

.form_submit:hover {
    color: black;
    background: white;
}

.end_section {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(25, 25, 25);
    flex-direction: column;
}

.text_end {
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
}

.paragraph_end {
    color: white;
    font-size: 36px;
    text-align: center;
}