.contact_container {
    width: 100%;
    padding: 200px 0px;
    min-width: 100%;
    height: fit-content;
}

.contact_header {
    display: flex;
    justify-content: center;
    color: var(--dblue);
    font-size: 30px;
    padding-top: 100px;
}

.contact_header h1 {
    text-align: center;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.individual_form {
    width: 80%;
    display: flex;
    justify-content: center;
}

.form_name {
    margin-bottom: 20px;
    height: 30px;
    color: black;
    width: 60%;
    background: rgb(222, 222, 222);
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}

.form_text {
    height: 150px;
    color: black;
    width: 60%;
    background: rgb(222, 222, 222);
    border: 1px solid black;
    resize: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.form_submit {
    font-family: 'Poppins';
    width: 180px;
    height: fit-content;
    font-size: 30px;
    border: 1px solid black;
    background: var(--silver);
    color: black;
    transition: .2s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: .2s;
    z-index: 1;
}

.form_submit:hover {
    color: var(--silver)
}

.form_submit::after {
    content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 110%;
    background: var(--dblue);
    top: 0;
    left: 0;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: .2s;
    z-index: -1;
}

.form_submit:hover::after {
    transform: translateX(0);
}

.end_section {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(222, 222, 222);
    flex-direction: column;
}

.text_end {
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
}

.paragraph_end {
    color: white;
    font-size: 36px;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .form_name {
        width: 90%;
    }

    .form_text {
        width: 90%;
    }
}