.navbar_container {
    width: 100%;
    max-width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
    background: var(--silver);
}

.navbar_content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.logo {
    width: fit-content;
    height: fit-content;
    margin-left: 1em;
}

.logo img {
    width: 70px;
    height: 70px;
    position: relative;
}

.logo::after {
    content: '';
    display: block;
    position: relative;
    width: 0px;
    height: 3px;
    background: var(--cyan);
    transform: translateY(-15px);
    transition: .2s;
}

.logo:hover::after {
    width: 70px;
}

.test {
    color: var(--black);
    width: 90%;
    font-family: 'Poppins';
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.test a {
    font-weight: 300;
}

.navbar_text {
    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar_text h1 a {
    color: var(--black);
    border-radius: 50%;
    transition: .2s;
    padding: 5px;
    border: 1px solid none;
}

.navbar_text h1 a {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 50px;
    transition: .2s;
    position: relative;
}

#github h1 a::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 3px;
    background: var(--cyan);
    display: block;
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

#github h1 a:hover::before {
    transform: translateX(50px);
    opacity: 1;
    animation: linksani 3s;
}

#github h1 a:hover {
    color: var(--cyan);
    transition: .2s;
}

#linkedin h1 a::after {
    content: '';
    position: relative;
    width: 3px;
    background: var(--cyan);
    display: block;
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

#linkedin h1 a:hover::after {
    transform: translateX(-50px);
    opacity: 1;
    animation: linksani 3s;
}

#linkedin h1 a:hover {
    color: #0A63BC;
    transition: .5s;
}

@keyframes linksani {
    from {
        height: 60px;
    }

    to {
        height: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .test {
        font-size: 10px;
        justify-content: center;
    }
}