.navbar_container {
    width: 100vw;
    height: 60px;
    max-width: 100%;
    background: rgb(35, 35, 35);
    box-shadow: 0px 10px white 3px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.navbar_content {
    width: 900px;
    height: 100%;
}

.test {
    color: white;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navbar_text {
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.navbar_text:hover {
    opacity: .3;
    border-bottom: 2px solid white;
}

.navbar_text h1 {
    font-weight: 200;
}

@keyframes change {
    0% {
        content: "Contact";
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "ruari.c.douglas@gmail.com";
    }
}

@keyframes changeBack {
    0% {
        opacity: 1;
        content: "ruari.c.douglas@gmail.com";
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "Contact";
    }
}