.stack_container {
    width: 100%;
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 200px 0px;
    padding: 100px 0px;
}

.stack_content {
    font-family: 'Inter';
    font-weight: 800;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.used_tech {
    font-size: 50px;
    color: rgb(28, 155, 126);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin-top: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.wrapper div {
    width: 70px;
}

.stack_icon {
    font-size: 70px;
    color: var(--dblue);
    transition: .2s;
}

.stack_icon:hover {
    color: var(--cyan);
}


@media only screen and (max-width:600px) {
    .wrapper {
        width:95%;
        grid-template-columns: auto auto auto;
        gap: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .stack_container {
        height: fit-content;
    }

    .used_tech {
        font-size: 20px;
    }

    .learning_tech {
        font-size: 20px;
    }

    .stack_icon {
        font-size: 10vw;
    }
}